<h1>New Restaurant</h1>

<%= form_with model: @restaurant, local: true do |form| %>
  <% if @restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>
      <ul>
        <% @restaurant.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :address %>
    <%= form.text_area :address %>
  </div>

  <div>
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number %>
  </div>

  <div>
    <%= form.label :category %>
    <%= form.select :category, options_for_select(['chinese', 'italian', 'japanese', 'french', 'belgian']) %>
  </div>

  <div>
    <%= form.submit "Create Restaurant" %>
  </div>
<% end %>

<%= link_to 'Back to List', restaurants_path %>
